html, body {
  font-family: Helvetica, sans-serif; }

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

input {
  position: absolute; }

input.grow {
  -webkit-animation: grow 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: grow 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: grow 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); }